<!DOCTYPE html>
<html>
<head>
    <title><%= item.title %></title>
</head>
<body style="background-color: #f4f4f4; font-family: sans-serif;">

    <h1>
        Displaying: <%= item.title %>
    </h1>
    
    <p><%= item.description %></p>

    <hr>
    <a href="/details/?id=A">Go to A</a> | 
    <a href="/details/?id=B">Go to B</a> | 
    <a href="/details/?id=C">Go to C</a>

</body>
</html>