<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <h2>Welcome to MovReview</h2>
        // TODO: 1. create lists of movies for users to browse
                 2. each movie to have button to add to watchlist, mark as watched
                 3. 
    </body>
</html>