<!DOCTYPE html>
<html>
    <head>
        <title>Account Settings</title>
    </head>
    <body>

        <h2>MovReview</h2>
        <p>Logged in as: <%= user.email %> (<%= user.role %>)</p>

        <a href="/watchlist"><button type="button">My Watchlist</button></a>
        <a href="/watched"><button type="button">Movies I watched</button></a>
        <a href="/account-settings"><button type="button">Account Settings</button></a>
        <a href="/logout"><button type="button">Logout</button></a>

        <hr>
        
        <h1>Settings</h1>
            <% if (typeof(e) === typeof("a")) { %>
                <p style="color: red"><%=e%></p>
            <% } %>
            <% if (e === 1) { %>
                <p style="color: green">Successfully updated password!</p>
            <% } %>
        <form method="post" action="/account-settings">
            <table>
                <tr>
                <label>
                    <td>New Password:</td>
                    <td><input type="password" name="password"></td>
                </label>
                </tr>
                <tr>
                <label>
                    <td>Confirm Password:</td>
                    <td><input type="password" name="cpassword"></td>
                </label>
                </tr>
                <tr>
                    <td><button type="submit">Change password</button></td>
                </tr>
            </table>
        </form><br>
        <% if (user.role != 'admin') { %>
            <a href="/delete-account"><button type="button" style="color:red">Delete account</button></a>
        <% } %>
        <a href="/logout"><button type="button">Logout</button></a><br><br>
        <a href="/home"><button type="button">Back to Home</button></a>
    </body>
</html>